<div fxLayout="column" class="outerContainer">
    <div fxFlex>
        <img src="./assets/contact2.png" class="logo">
        <h1>Contact Us</h1><br />
     <!--Image source for royaltyFreeImg.png
        Black Line Background - Unlimited Download. cleanpng.com. (n.d.). Retrieved September 07, 2020, from https://www.cleanpng.com/png-computer-icons-certified-financial-planner-wrenche-2330581/
      -->
    </div>
<div fxFlex>
<mat-card>
<mat-card-content>
<div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex >
       <mat-card>
           <mat-card-content>
               <h2>Options</h2>
               <ul>
                   <li>
                    <span class="material-icons">
                        phone
                        </span>
                   </li>
                   <li class="strong">
                       Phone:
                   </li>
                   <li>
                    <a href="tel:402-555-3535">402-555-4545</a>
                   </li><br />

                   <li>
                    <span class="material-icons">
                        email
                        </span>
                   </li>
                   <li class="strong">
                       Email:
                   </li>
                   <li>
                    <a href = "mailto: bob@bcrs.com">bob@bcrs.com</a>
                   </li>
               </ul>
           </mat-card-content>
       </mat-card>
    </div>
    <div fxFlex>
       <mat-card>
           <mat-card-content>
               <h2>Location</h2>
               <ul>
                   <li><span class="material-icons">
                    storefront
                    </span></li>
                   <li class="strong">Address</li>
                   <a href="https://goo.gl/maps/bN2ek2FugCCSoBAc8">
                   <li>123 test st</li>
                   <li>Omaha, NE 68104</li>
                   <li>Unidted States</li>
                </a>
               </ul>
           </mat-card-content>
       </mat-card>
    </div>
</div>
</mat-card-content>
</mat-card>
</div>
</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />