<img src="./assets/profile.png">
<!--Royalty free image obtained from here, then altered by James. https://www.google.com/search?q=profile+placeholder+logo&tbm=isch&ved=2ahUKEwjBypCa4OTsAhUIOK0KHVHaDswQ2-cCegQIABAA&oq=profile+placeholder+logo&gs_lcp=CgNpbWcQAzoECCMQJzoGCAAQBRAeOgYIABAIEB46AggAUNpxWKR6YNN8aABwAHgAgAGOAYgBjQSSAQM1LjKYAQCgAQGqAQtnd3Mtd2l6LWltZ8ABAQ&sclient=img&ei=CHOgX8GmHYjwtAXRtLvgDA&bih=879&biw=1813#imgrc=8K7kbUE95iuy1M-->
    <h1>Profile </h1>
<div fxLayout="column" class="outerContainer">
    <mat-card>
        <mat-card-content>
            <div fxFlex class="childColumnContainers">
                <div fxLayout="row wrap" fxLayoutGap="10px">
                    <div fxFlex>
                        <mat-card>
                            <mat-card-content>
                                <app-userdetails></app-userdetails>
                            </mat-card-content>
                    </mat-card>
                    </div>
                    <div fxFlex>
                        <mat-card>
                            <mat-card-content>
                                <app-update-account></app-update-account>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>