<div fxLayout="column" class="outerContainer">
        <div fxFlex>
            <img src="./assets/about2.png" class="logo">
            <h1>About Us</h1><br />
            <!--Original royalty free image provided from https://www.pinclipart.com/picdir/middle/2-24114_wheel-clip-art-download-gear-icon-royalty-free.png-->
        </div>
    <div fxFlex>
<mat-card>
<mat-card-content>
    <div fxLayout="column">
        <div fxFlex>
            <img src="./assets/bob.jpg" style="float: left; width: 200px; padding-right: 10px;">
            <img src="./assets/index.jpg"style="float: right; width: 200px;  padding-left: 10px;">
            <!--Royalty Free Images From https://www.dreamstime.com-->
            <br />
            <p><strong>Bob's Computer Repair Shop has been in existence since 2020.</strong> It was founded primary for the reason being that people needed their computers fixed. Bob has the technical training requisite to be able to deliver a quality computer fix. Services offered include the fixing of broken computers; fixing of broken routers and phones. Bob really has a great skill of fixing things and is able to help you today! If you ever are in need of a computer fix or find yourself in a computer bind Bob will be there to save you time and money! Bob has the requisite skills in order to fix your computer!</p>
            <mat-divider [inset]="true"></mat-divider>
            <p>How did Bob get into this business? It all started when Bob set out to build his own computer for online gaming. During this process, he sourced parts online and compiled the computer, piece by piece. It was during this project that Bob realized that he really enjoyed creating and repairing hardware. Since Bob enjoyed this activity so much, he began to repair all his friends devices. It got to the point where Bob was repairing devices almost 7 days a week. At this point, Bob came to the realization that he needed to make this business legitimate.  Fast forward a few years later, Bob now has his own company, Bob's Computer Repair Shop. </p>
            <mat-divider [inset]="true"></mat-divider>
            <p>Bob has been in the Technology Business for 10 Years and has seen the times evolve as technology has changed. Not many people have the skills Bob has in order to fix computers. Bob has a degree in Computer Fixing from a renowned university. <strong>Bob has fixed over 1000 computers in his time as a Computer Technician.</strong></p>
        </div>
    </div>
</mat-card-content>
</mat-card>
</div>
</div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />