<div class="personalInfo"> 
    <h1>Personal Details</h1>
    <div class="innerPersonalDetails">
    <li style="padding-top: 10px;">Username: {{username}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>First Name: {{firstName}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Last Name: {{lastName}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Phone: {{phone}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Address: {{address}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Email: {{email}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Role: {{role}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li>Date Created: {{dateCreated | date}}</li>
    <mat-divider [inset]="true"></mat-divider>
    <li style="padding-bottom: 10px;">Date Modified: TODO</li>
</div>
<br />
</div>