<div fxLayout="column" class="singinOuterContainer">
    <div fxFlex>
        <h1>Reset Password</h1>
        <mat-card class="mat-elevation-z8">
            <mat-card-content>
                <!--inner container-->
                <div fxLayout="column" class="singinInnerContainer">
                    <!--LOGO-->
                    <div fxFlex>
                        <img src="./assets/logo.png" class="logo">
                    </div>

<mat-horizontal-stepper linear #stepper>
	<mat-step [stepControl]="form1">
		<ng-template matStepLabel>Verify Username</ng-template>
		<app-verify-username></app-verify-username>
	</mat-step>
	<mat-step [stepControl]="form2">
		<ng-template matStepLabel>Verify Security Questions</ng-template>
		<app-verify-security-questions></app-verify-security-questions>
	</mat-step>
	<mat-step [stepControl]="form3">
		<ng-template matStepLabel>Create New Password</ng-template>
		<app-reset-password></app-reset-password>
	</mat-step>
</mat-horizontal-stepper>