a{
    text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.singinOuterContainer{
    width: 60%;
    margin: 10% auto;
}

.singinInnerContainer{
    text-align: center;
}


.logo {
    margin-top: 25px auto;
    margin-bottom: 15px;
    width: 25%;
}


.signInFormStuff{
    margin-left: 25%;
    margin-right: 25%;
}

hr.divider {
    border-top: 0px solid black;
    margin-left: 30%;
    margin-right: 30%;
  }
  

mat-form-field{
    width: 100%
}

mat-card{
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 20px;
}

h2{
    text-align: left;
    color: black;
    font-weight: 200;
    font-size: 25px;
    margin-bottom: 20px;
}
img{
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
