<!--Outer container-->
<div fxLayout="column" class="singinOuterContainer">
  <div fxFlex>
    <h1>Reset Password</h1>
    <mat-card class="mat-elevation-z8">
      <mat-card-content>
        <!--inner container-->
        <div fxLayout="column" class="singinInnerContainer">
          <!--LOGO-->
          <div fxFlex>
            <img src="./assets/logo.png" class="logo" />
          </div>
          <h2>Enter New Password</h2>
<!--
          <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="form3">-->
              <form
                [formGroup]="form3"
                (ngSubmit)="resetPassword()"
                #resetPasswordForm
              >
              <!--<ng-template matStepLabel>Create New Password</ng-template>-->
                <mat-card-content fxLayout="column">
                  <mat-form-field fxFlex>
                    <input
                      matInput
                      type="password"
                      [formControl]="form3.controls['password']"
                      placeholder="Example: C10wn$ho3s"
                    />
                  </mat-form-field>
                  <br /><br />
                  <div fxLayoutAlign="end" fxLayoutGap="10px">
                    <a fxFlex fxLayoutAlign="start" (click)="navigateSecurityQuestions()">
                      <mat-icon>west</mat-icon>
                      </a>
                      <button type="button" mat-raised-button color="primary" routerLink="/session/signin">Cancel</button>
                    <button mat-raised-button 
                    [disabled]="!form3.valid"
                    color="primary">Submit</button>
                  </div>
                </mat-card-content>
              </form>
  <!--          </mat-step>
          </mat-horizontal-stepper>-->
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
