<div fxLayout="column">
    <mat-card class="mat-elevation-z8">
        <mat-card-title>Changing Password</mat-card-title>
        <br />
        <form [formGroup]="form" 
                      (ngSubmit)="changePassword(); form.reset()" 
                      #loginForm="ngForm">
                      <mat-card-content>
                          <div fxLayout="column">
                    <mat-form-field>
                        <mat-label>New Password</mat-label>
                        <input matInput 
                               [formControl]="form.controls['password']" 
                               placeholder="password" 
                               type="password" >
                      </mat-form-field>
                    </div>
                    </mat-card-content>
                      <mat-card-actions align="end">
                        <button mat-raised-button matDialogClose="cancel" color="primary">Cancel</button>
                        <button type="submit" 
                                mat-raised-button 
                                matDialogClose="update"
                                color="primary"
                                [disabled]="!form.valid">Change Password</button>
                      </mat-card-actions>
        </form>
    </mat-card>
</div>